@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #52b69a;
    height: 100vh;
    position: absolute;
    width: 100%;
}
.App h1{
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: 'Qahiri', sans-serif;
    font-size: 4rem;
}

@media screen and (max-width: 1024px) {
    .App h1{
        top: 0;
        font-size: 4rem;
    }
}
@media screen and (max-width: 600px) {
    .App h1{
        top: 1%;
        font-size: 2rem;
    }
}